{% extends 'layout.html' %}

{% block body %}
<body>
<div id="vidContainerAlpha">
    <div class="vidContainer">
        <div class="video-gallery">
            <div class="imageContainerAlpha">
                {% if length <= 0  %}
                <div class="emptyImageContainer">
                    <h1>Setup Instructions:</h1>
                    <h2>1. Go to Settings page</h2>
                    <h2>2. Find details on camera</h2>
                    <h2>3. Enter the camera ID on settings page</h2>
                    <h2>Images will display here when available</h2>
                </div>
                {% else %}
                {% for x in (userDict) %}
                <div class="imageContainer">
                    <p>Date Taken: {{userDict[x]}}</p>

                    <img width="860" height="515" class="imageCenter"
                        src="https://s3-eu-west-1.amazonaws.com/azur-bucket/{{x}}.jpg"
                        allowfullscreen/>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}