<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>
<title>Login</title>
<body>
    <div class="seven">
        <h1>AZURCAM</h1>
      </div>
    <div class="login-box">
        <h2>Login</h2>
        <form>
          <div class="user-box">
            <input type="email" name="email" required="">
            <label>Email</label>
          </div>
          <div class="user-box">
            <input type="password" name="password" required="">
            <label>Password</label>
          </div>
          <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
          </a>
          
        </form>
        <p style="color:rgb(0, 255, 213)">Don't have an account? <a href="#" style="text-decoration: none;">Sign Up</a>.</p>
      </div>
</body>
</html>